/* FootArea  */
.footerAreaWrapper {
  color: #fff;
  padding: 85px 0 100px;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 80px;
  line-height: 0.9;
  margin: 0 0 30px;
  color: #fff;
  letter-spacing: 5px;
}

.ctaArea {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  gap: 30px 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 60px 0;
  position: relative;
}

.ctaArea::after {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: calc(250px + 250px + 30px + 30px + 30px);
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
  @media (max-width: 1199px) {
    display: none;
  }
}

.newsletter {
  padding-left: 80px;
  padding-top: 20px;
}

.form {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  flex: 1;
  font-size: 25px;
}

.input::placeholder {
  color: #ffffff;
}

.button {
  background: none;
  border: none;
  color: #fff;
  font-size: 44px;
  cursor: pointer;
}

.footerLinks {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  color: #999;
  margin-top: 40px;
}

.linkList {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  align-items: center;
}

.linkList a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.linkList a:hover {
  color: #999;
}

.footerLinks strong {
  color: #fff;
}

/* Responsive */
@media (max-width: 1024px) {
  .title {
    font-size: 80px;
  }
  .ctaArea {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .newsletter {
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }
}
