/* Tailwind CSS directives - These are valid PostCSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* -webkit-overflow-scrolling: touch; */
}
.scrollable {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
/* .section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-kanit {
    font-family: "Kanit", sans-serif;
  }

  .nav-link {
    @apply text-[#676262] text-base font-semibold uppercase leading-4 font-kanit;
  }

  .service-item {
    @apply border-b border-black/80 pb-5 mb-5 text-2xl font-medium tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:text-xl max-lg:text-lg;
  }

  .service-item-top {
    @apply border-t border-black/80 border-b border-black/80 mt-6 pb-5 pt-5 mb-5 text-2xl font-bold tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:pt-3  max-md:text-xl max-sm:text-lg max-xl:text-xl max-lg:text-lg;
  }

  .service-item {
    @apply border-b border-black/80 pb-5 mb-5 text-2xl font-bold tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:text-xl max-xl:text-xl max-lg:text-lg;
  }

  .section-subtitle-white {
    @apply text-white font-kanit text-base font-semibold leading-4 uppercase;
  }

  .section-title-line {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }

  .section-title-work {
    @apply relative opacity-100 text-[#121212] font-["beatricetrial"] text-center text-[30rem] font-medium 
    tracking-[-0.03em] w-full h-[50vh] flex justify-center items-center px-6 
    max-xl:text-[25rem] max-xl:h-[30vh] 
    max-lg:text-[22rem] max-lg:h-[30vh] 
    max-md:text-[18rem] max-md:h-[30vh]    
    max-sm:text-[15rem] max-sm:h-[20vh]
    max-xs:text-[8rem] max-xs:h-[15vh];
  }

  .info-text {
    .text {
      @apply text-xl leading-[1.37] max-w-[303px] mt-[5px] md:max-w-[260px];
    }

    .number {
      @apply text-[250px] leading-[0.84] flex lg:text-[200px] md:text-[120px];

      span {
        @apply text-[40px];
      }
    }
  }

  .thumb {
    @apply relative overflow-hidden;

    img {
      @apply w-full h-auto transition-transform duration-500 ease-out block max-pf_xs:w-[10rem] max-pf_xs:h-[10rem];
    }
  }

  .nav-underline {
    position: relative;
  }
  .nav-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #676262;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-underline-hovered::after {
    width: 100%;
  }
}
.word {
  display: inline-block;
}
/* 메뉴바 텍스트 공통 스타일 */
.nav-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 텍스트 공통 스타일 */
.nav-bar-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 아이콘(디자인 요소) 공통 스타일 */
.nav-bar-icon {
  vertical-align: middle;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.section-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary);
  display: block;
  margin-top: -3px;
}

.section-title {
  font-size: var(--section-title-size, 70px);
  margin-top: -19px;

  @media (max-width: 1535px) {
    font-size: var(--section-title-size, 55px);
    margin-top: -14px;
  }

  @media (max-width: 1279px) {
    font-size: var(--section-title-size, 55px);
    margin-top: -14px;
  }

  @media (max-width: 1023px) {
    font-size: var(--section-title-size, 46px);
    margin-top: -13px;
  }

  @media (max-width: 767px) {
    font-size: 5rem !important;
    margin-top: -10px;
  }

  @media (max-width: 639px) {
    font-size: var(--section-title-size, 35px);
    margin-top: -9px;
  }

  @media (max-width: 479px) {
    font-size: var(--section-title-size, 30px);
    margin-top: -8px;
  }
}

.section-spacing {
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top {
  padding-top: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-bottom: 60px;
  }
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}
/* .works-wrapper-box {
  /* @apply mt-[50px] grid justify-end grid-cols-[880px]  */
/* max-lg:grid-cols-[55rem] max-lg:justify-center
  max-md:grid max-md:grid-cols-[700px] max-md:justify-center
  max-sm:grid max-sm:grid-cols-[500px] max-sm:justify-center
  max-xs:grid max-xs:grid-cols-[100%] max-xs:justify-center;
} */

.work-box {
  cursor: pointer;
  transition: transform 0.8s;

  &:hover {
    /* transform: translateY(-4px); */

    .thumb img {
      transform: scale(1.15);
      transition: transform 0.5s ease 0.2s;
    }
  }
}

.testimonial-box-wrapper {
  position: relative;
  direction: ltr;
  margin-top: 85px;
  overflow: hidden;
}

.testimonial-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;

  @media (max-width: 639px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.meta-info {
  width: 500px;
  border-right: 1px solid #2e2e2e;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  z-index: 2;

  @media (max-width: 1279px) {
    width: 315px;
    padding-inline-end: 40px;
  }

  @media (max-width: 1023px) {
    width: 450px;
  }

  @media (max-width: 639px) {
    position: static;
    width: 100%;
    border-bottom: 0;
  }

  &:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.08);
    inset-inline-end: -1px;
    top: -150px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .testimonial-count {
    font-family: "BeatriceTRIAL-Regular-BF64829e8f591fb";
    @media (max-width: 1279px) {
      font-size: 100px;
    }
    @media (max-width: 639px) {
      font-size: 70px;
    }
  }
}

/* nKKU 폰트 등록 */
@font-face {
  font-family: "nKKU-Go6G5tXcr4-ORWnVaFrNlJz";
  src: url("../app/fonts/local/nKKU-Go6G5tXcr4-ORWnVaFrNlJz.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.awwwards-thin {
  font-weight: 350; /* 100~900 자유롭게 조절 가능 */
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
}
/* 문의하기 페이지 체크박스 스타일 */
.ant-checkbox-wrapper-disabled .ant-checkbox-inner::after {
  border-color: #313131; /* 원하는 텍스트 색상 */
}

.ant-checkbox-wrapper-disabled span {
  color: #313131; /* 원하는 텍스트 색상 */
}

.ant-input-disabled {
  color: #313131 !important; /* 원하는 텍스트 색상 */
  font-size: 1rem !important;
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 100px auto;
  background: #2e3232;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.grid-container-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* 그리드 아이템 간의 간격 */
  column-gap: 100px; /* 열 간의 간격 */
  row-gap: 40px; /* 행 간의 간격 */
}
/* .container {
  display: grid;
  place-items: center;
} */
.container {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}

.rotating-word {
  display: inline-block;
}
.animated-border-b {
  position: relative;
  overflow: hidden;
}

.animated-border-b::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    to right,
    #ffffff,
    #979797,
    #ffffff,
    #979797,
    #ffffff
  );
  background-size: 300% 100%;
  animation: border-gradient-move 4s linear infinite;
}

@keyframes border-gradient-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
