/* Tailwind CSS directives - These are valid PostCSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
html,
body {
  width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* -webkit-overflow-scrolling: touch; */
}
.scrollable {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-kanit {
    font-family: "Kanit", sans-serif;
  }

  .nav-link {
    @apply text-[#676262] text-base font-semibold uppercase leading-4 font-kanit;
  }

  .service-item {
    @apply border-b border-black/80 pb-5 mb-5 text-2xl font-medium tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:text-xl;
  }

  .service-item-top {
    @apply border-t border-black/80 border-b border-black/80 mt-6 pb-5 pt-5 mb-5 text-2xl font-medium tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:pt-3  max-md:text-xl max-sm:text-lg;
  }

  .service-item {
    @apply border-b border-black/80 pb-5 mb-5 text-2xl font-medium tracking-wide
    max-md:mb-3 max-md:pb-3 max-md:text-xl;
  }

  .section-subtitle-white {
    @apply text-white font-kanit text-base font-semibold leading-4 uppercase;
  }

  .section-title-line {
    @apply block text-start relative opacity-100 text-[#121212] font-["beatricetrial"] text-6xl 
    font-medium leading-[3.8rem] max-md:text-[3.2rem] max-lg:leading-[3rem];
    width: 100%;
    max-width: 100vw;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }

  .section-title-work {
    @apply relative opacity-100 text-[#121212] font-["beatricetrial"] text-center text-[30rem] font-medium 
    tracking-[-0.03em] w-full h-[50vh] flex justify-center items-center px-6 
    max-xl:text-[25rem] max-xl:h-[30vh] 
    max-lg:text-[22rem] max-lg:h-[30vh] 
    max-md:text-[18rem] max-md:h-[30vh]    
    max-sm:text-[15rem] max-sm:h-[20vh]
    max-xs:text-[8rem] max-xs:h-[15vh];
  }

  .info-text {
    .text {
      @apply text-xl leading-[1.37] max-w-[303px] mt-[5px] md:max-w-[260px];
    }

    .number {
      @apply text-[250px] leading-[0.84] flex lg:text-[200px] md:text-[120px];

      span {
        @apply text-[40px];
      }
    }
  }

  .thumb {
    @apply relative overflow-hidden;

    img {
      @apply w-full h-auto transition-transform duration-500 ease-out block max-pf_xs:w-[10rem] max-pf_xs:h-[10rem];
    }
  }

  .custom-table {
    @apply w-full border-separate border-spacing-y-2 bg-white;
  }
  .custom-table-th {
    @apply py-4 font-semibold text-lg text-left bg-white border-b-2 border-black;
  }
  .custom-table-td {
    @apply py-4 text-base text-gray-800 bg-white align-middle;
  }
  .custom-table-tr {
    @apply border-b border-gray-200 bg-white;
  }
  .custom-table-tr:last-child {
    @apply border-b-0;
  }
  .custom-table-answer {
    @apply bg-gray-200 text-gray-700 px-3 py-1 rounded;
  }
  .nav-underline {
    position: relative;
  }
  .nav-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #676262;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-underline-hovered::after {
    width: 100%;
  }
}
/* hero-area 부분 */

/* hero area style (Tailwind 프로젝트용 globals.css) */
.hero-area {
  background-color: var(--black);
  padding-top: 100px;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 1535px) {
  .hero-area {
    margin-top: 80px;
  }
}

@media (max-width: 1023px) {
  .hero-area {
    height: auto;
  }
}

.hero-area-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-area-bg .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.hero-area-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-area-inner {
  position: relative;
}

.hero-area .text {
  font-size: 20px;
  line-height: 1.38;
  color: var(--white);
  font-family: var(--font_beatricetrial);
  max-width: 400px;
}

@media (max-width: 1279px) {
  .hero-area .text {
    font-size: 18px;
  }
}

.hero-area .section-title {
  font-size: 250px;
  line-height: 0.9;
  color: var(--white);
  text-transform: uppercase;
}

@media (max-width: 1535px) {
  .hero-area .section-title {
    font-size: 180px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title {
    font-size: 160px;
  }
}

@media (max-width: 1023px) {
  .hero-area .section-title {
    font-size: 130px;
  }
}

@media (max-width: 639px) {
  .hero-area .section-title {
    font-size: 80px;
  }
}

@media (max-width: 479px) {
  .hero-area .section-title {
    font-size: 55px;
  }
}

.hero-area .section-title .o-switch {
  height: 183px;
  margin-top: -40px;
}

@media (max-width: 1535px) {
  .hero-area .section-title .o-switch {
    height: 133px;
    margin-top: -30px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title .o-switch {
    height: 113px;
    margin-top: -20px;
  }
}

@media (max-width: 1023px) {
  .hero-area .section-title .o-switch {
    height: 93px;
  }
}

@media (max-width: 639px) {
  .hero-area .section-title .o-switch {
    height: 60px;
    margin-top: -13px;
  }
}

@media (max-width: 479px) {
  .hero-area .section-title .o-switch {
    height: 40px;
    margin-top: -9px;
  }
}

.hero-area .title-wrapper {
  position: relative;
}

.hero-area .title-wrapper .shape-1 {
  position: absolute;
  top: 0;
  left: 0px;
}

@media (max-width: 1023px) {
  .hero-area .title-wrapper .shape-1 {
    display: none;
  }
}

.hero-area .address {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-top: 16px;
}

.hero-area .section-title-wrapper {
  margin-top: 154px;
}

@media (max-width: 1535px) {
  .hero-area .section-title-wrapper {
    margin-top: 134px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title-wrapper {
    margin-top: 104px;
  }
}

.hero-area .section-content .text-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .hero-area .section-content .text-wrapper {
    position: static;
    margin-top: 20px;
  }
}

.hero-area .wc-btn-underline {
  color: var(--white);
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 0;
}

@media (max-width: 479px) {
  .hero-area .wc-btn-underline {
    width: 230px;
  }
}

.hero-area .wc-btn-underline:hover i {
  transform: none;
}

.hero-area .wc-btn-underline .logo {
  transform: none;
}

.hero-area .wc-btn-underline i {
  font-size: 15px;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.hero-area .wc-btn-underline::before {
  height: 1px;
  top: 0;
  bottom: auto;
}
.word {
  display: inline-block;
}
/* 메뉴바 텍스트 공통 스타일 */
.nav-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 텍스트 공통 스타일 */
.nav-bar-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 아이콘(디자인 요소) 공통 스타일 */
.nav-bar-icon {
  vertical-align: middle;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.section-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary);
  display: block;
  margin-top: -3px;
}

.section-title {
  font-size: var(--section-title-size, 70px);
  margin-top: -19px;

  @media (max-width: 1535px) {
    font-size: var(--section-title-size, 55px);
    margin-top: -14px;
  }

  @media (max-width: 1279px) {
    font-size: var(--section-title-size, 55px);
    margin-top: -14px;
  }

  @media (max-width: 1023px) {
    font-size: var(--section-title-size, 46px);
    margin-top: -13px;
  }

  @media (max-width: 767px) {
    font-size: 5rem !important;
    margin-top: -10px;
  }

  @media (max-width: 639px) {
    font-size: var(--section-title-size, 35px);
    margin-top: -9px;
  }

  @media (max-width: 479px) {
    font-size: var(--section-title-size, 30px);
    margin-top: -8px;
  }
}

.section-spacing {
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top {
  padding-top: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-bottom: 60px;
  }
}

/* about area style  */
.about-area {
  &-inner {
    padding-bottom: 100px;

    @media (max-width: 1535px) {
      padding-bottom: 80px;
    }

    @media (max-width: 1023px) {
      padding-bottom: 60px;
    }
  }

  .section-content {
    display: grid;
    gap: 35px 60px;
    grid-template-columns: auto 880px;

    @media (max-width: 1023px) {
      grid-template-columns: auto;
    }

    .info-area {
      margin-top: 80px;
      display: grid;
      grid-template-columns: 44% 56%;

      @media (max-width: 479px) {
        grid-template-columns: 100%;
      }
    }

    .info-last {
      border-inline-start: 1px solid var(--border);
      padding-inline-start: 83px;

      @media (max-width: 767px) {
        padding-inline-start: 33px;
      }

      @media (max-width: 479px) {
        padding-inline-start: 0;
        border-inline-start: 0;
        margin-top: 30px;
      }
    }

    .btn-wrapper {
      margin-top: 53px;

      @media (max-width: 767px) {
        margin-top: 33px;
      }
    }

    .wc-btn-circle {
      background-color: var(--theme);
      border: none;
      color: var(--black);
    }
  }
}
.custom-hover-button {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #121212;
  background-color: #fff;
  border: 2px solid #121212;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  will-change: transform;
}

.custom-hover-button:hover {
  transform: scale(1.05);
  background-color: #121212;
  color: #fff;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}

.works-wrapper-box {
  @apply mt-[50px] grid justify-end grid-cols-[880px] 
  max-lg:grid-cols-[55rem] max-lg:justify-center
  max-md:grid max-md:grid-cols-[700px] max-md:justify-center
  max-sm:grid max-sm:grid-cols-[500px] max-sm:justify-center
  max-xs:grid max-xs:grid-cols-[100%] max-xs:justify-center;
}

.work-box {
  cursor: pointer;
  transition: transform 0.8s;

  &:hover {
    /* transform: translateY(-4px); */

    .thumb img {
      transform: scale(1.15);
      transition: transform 0.5s ease 0.2s;
    }
  }

  .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #121212;
  }

  .tag {
    margin-top: 6px;
    margin-bottom: 4rem;

    font-size: 14px;
    color: #666;
    display: inline-block;
  }
}

.testimonial-box-wrapper {
  position: relative;
  direction: ltr;
  margin-top: 85px;
  overflow: hidden;
}

.testimonial-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;

  @media (max-width: 639px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.video-box {
  position: relative;
  width: 420px;
  aspect-ratio: 100/154;
  overflow: hidden;

  @media (max-width: 1023px) {
    width: 330px;
  }

  @media (max-width: 639px) {
    width: 100%;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-box-wrapper {
  padding-inline-start: 90px;

  @media (max-width: 1279px) {
    padding-inline-start: 40px;
  }

  @media (max-width: 639px) {
    padding-inline-start: 0;
  }
}

.wc-btn-play {
  width: 160px;
  height: 160px;

  @media (max-width: 767px) {
    height: 100px;
    width: 100px;
  }
}

.meta-info {
  width: 405px;
  border-right: 1px solid #2e2e2e;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  z-index: 2;

  @media (max-width: 1279px) {
    width: 315px;
    padding-inline-end: 40px;
  }

  @media (max-width: 1023px) {
    width: 235px;
  }

  @media (max-width: 639px) {
    position: static;
    width: 100%;
    border-bottom: 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.08);
    inset-inline-end: -1px;
    top: -150px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .testimonial-count {
    font-size: 140px;
    font-family: "BeatriceTRIAL-Regular-BF64829e8f591fb";
    line-height: 0.87;
    font-weight: 600;
    margin-bottom: 35px;
    color: white;

    @media (max-width: 1279px) {
      font-size: 100px;
    }

    @media (max-width: 639px) {
      font-size: 70px;
    }
  }

  .text {
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 43px;
    color: var(--white-2);
  }
}

.client-meta {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 227px;

  @media (max-width: 1023px) {
    padding-bottom: 67px;
  }

  .name {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--white);
  }

  .text {
    font-size: 14px;
    line-height: 1.42;
    color: var(--white-2);
    position: relative;
    z-index: 1;
  }
}

.b-ts-pagination {
  position: absolute;
  inset-inline-start: 0;
  bottom: 0;
  color: var(--white);

  .dash {
    background-color: var(--white);
  }
}

/* nKKU 폰트 등록 */
@font-face {
  font-family: "nKKU-Go6G5tXcr4-ORWnVaFrNlJz";
  src: url("../app/fonts/local/nKKU-Go6G5tXcr4-ORWnVaFrNlJz.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.awwwards-thin {
  font-weight: 350; /* 100~900 자유롭게 조절 가능 */
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
}

/* Editor를 위한 스타일 */

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  border-radius: 0 0 6px 6px !important;
}

.ck-focused {
  border: none !important;
  box-shadow: none !important;
}

.ck-editor {
  border: 1px solid #60c0ce !important;
  border-radius: 6px;
  width: 100% !important;
}
.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: none !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none !important;
}

.ck-reset_all :not(.ck-reset_all-excluded *) {
  border-radius: 6px 6px 0 0 !important;
}
.ck-toolbar {
  background-color: #fafafa !important;
}

.ck-butto,
.ck-button__label {
  color: black !important;
}

.ck-powered-by-balloon {
  display: none !important;
}

h1,
h1 i,
h1 strong {
  font-size: 30px;
}

h2,
h2 i,
h2 strong {
  font-size: 25px;
}
h3,
h3 i,
h3 strong {
  font-size: 20px;
}

code.language-c {
  content: "Editor’s Note";
  display: block;
  background-color: #f3f4f6; /* Tailwind: bg-gray-100 */
  border-radius: 1rem; /* Tailwind: rounded-2xl */
  padding: 3rem; /* Tailwind: p-12 */
  margin-bottom: 5rem; /* Tailwind: mb-20 */
  font-size: 1.25rem; /* Tailwind: text-xl */
  line-height: 1.75rem; /* Tailwind: leading-relaxed */
  color: #4b5563; /* Tailwind: text-gray-600 */
  display: block;
  white-space: pre-wrap;
  overflow-x: auto;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}
.ck.ck-content ul {
  padding-left: 10px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
.ck.ck-content ol {
  padding-left: 10px;
}
.ck-editor__editable_inline {
  padding: 0 30px !important;
}
.ck .ck-editor__main h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 30px;
}

.ck .ck-editor__main h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 25px;
}

.ck .ck-editor__main h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}

/* 블로그 관련 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  overflow-x: visible !important;
}
.site__container {
  position: relative;

  z-index: 0;
  width: 100%;
  height: auto;
}

/* post 영역 */
.post {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}
.post .blog-container {
  display: flex;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  height: auto;
}
.post .blog-container .content {
  width: 1000px;
  margin: 0 auto;
}

.featured-image {
  width: 100%;
  height: 510px;
  overflow: hidden;
  margin-bottom: 64px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px #d2dae5);
}
.featured-image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 96px;
  padding-right: 96px;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px #d2dae5);
}
.post-content h2,
.post-content p,
.post-content ul,
.post-content blockquote {
  margin-bottom: 32px;
}

.post-content h2 {
  /* padding-top: 64px; */

  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #383838;
}

.post-content p {
  line-height: 150%;
  color: #626262;
  font-size: 18px;
  line-height: 1.5;
}

.post-content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  gap: 32px;
}

.post-content .image__item {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.post-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 400px; /* 원하는 최대 크기 */
  width: auto;
  height: auto;
  object-fit: cover;
}

.post-content blockquote {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  color: rgb(67, 67, 67);
  line-height: 150%;
  position: relative;
  font-size: 20px;
}

.post-content blockquote::before {
  position: absolute;
  width: 5px;
  height: calc(100% - 32px);
  content: "";
  top: 16px;
  left: 16px;
  border-radius: 10px;
  background-color: rgb(67, 67, 67);
}

.post-content .hashtag {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.post-content .hashtag .feather {
  color: #555555;
}

.post-content .hashtag ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-bottom: 0;
}

.post-content .hashtag__item {
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  background-color: #e7e7e7;
  color: #222;
  border-radius: 4px;
}
/* 글쓴이 정보  */
.author {
  border-top: 1px solid #9c9c9c;
  padding-top: 32px;
}
.author ul {
  list-style: none;
  margin: 0;
}
.author .author__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.author .author__top .author__info {
  display: flex;
  align-items: center;
  line-height: 150%;
}
.author .author__top .author__info .author__avatar {
  margin-right: 16px;
}
.author .author__top .author__info .author__job {
  color: #7e7e7e;
  font-size: 14px;
}
.author .author__top .author__info .author__name {
  font-size: 16px;
  font-weight: bold;
}

.author .author__top .author__sns {
  display: flex;
  align-items: center;
}

.author .author__top .author__sns .youtube {
  color: #ff4545;
}

.author .author__top .author__sns .facebook {
  color: #6366f1;
}

.author .author__top .author__sns .instagram {
  color: #925ed4;
}
.author .author__top .author__sns .twitter {
  color: #7db9ff;
}
.author .author__top .author__sns .mail {
  color: #495a64;
}
.author .author__introduce {
  font-size: 14px;
  color: #495a64;
}
/* 댓글 */
.comment {
  border-top: 1px solid #b3b3b3;
  padding-top: 32px;
}
.comment .comment__title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.comment .feather {
  color: #dddddd;
  margin-right: 16px;
}
.comment .comment__item {
  display: flex;
  margin-bottom: 32px;
}
.comment .comment__item ul {
  list-style: none;
}
.comment .comment__item .user__top {
  display: flex;
  align-items: center;
  line-height: 150%;
  margin-bottom: 8px;
}
.comment .comment__item .user__top .user__avatar {
  margin-right: 16px;
}
.comment .comment__item .user__top ul {
  margin-bottom: 0;
}
.comment .comment__item .user__top .user__job {
  color: #7a7a7a;
}
.comment .comment__item .user__top .user__name {
  font-weight: bold;
}
.comment .comment__item .user__comment {
  line-height: 150%;
  color: #495a64;
}

/* 추천글 */
.recommended {
  border-top: 1px solid #d4d4d4;
  padding-top: 32px;
}
.recommended .recommended__title {
  display: flex;
  align-items: center;
}
.recommended .recommended__title .feather {
  color: #434343;
}
.recommended .post__container {
  display: flex;
  gap: 32px;
}
.recommended .post__container > .post {
  flex-flow: column;
  height: 100%;
}
.recommended .post .post__image {
  overflow: hidden;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 16px;
}
.recommended .post .post__image img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.recommended .post .post__category {
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #8e8e8e;
  font-weight: bold;
}
.recommended .post .post__title {
  color: #495a64;
  font-size: 16px;
  line-height: 150%;
  text-align: start;
}

/* 사이드바 */

.floating.left {
  position: sticky;
  top: 152px;
  padding-right: 20px;
  padding-left: 80px;
  background: none;
  margin-right: 32px;
  align-self: start;
}

.floating.left .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.floating.left .button {
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

/* 사이트 푸터 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 96px;
}
.footer .site__information {
  font-size: 18px;
  color: #6d6d6d;
  font-weight: bold;
}
.feather {
  margin-right: 8px;
}

@media (max-width: 800px) {
  .post .blog-container .content {
    width: 100% !important;
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 8px !important;
  }
  .post-content {
    padding: 24px 8px !important;
    border-radius: 0 !important;
  }
  .bg-gray-100.rounded-2xl.p-12.mb-20 {
    padding: 16px 8px !important;
    border-radius: 0 !important;
  }
}

@media (max-width: 640px) {
  .recommended .post__container {
    flex-wrap: wrap;
    gap: 16px;
  }
  .recommended .post__container > .post {
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
}

/* StartPage 버튼 스타일 */
a.btn {
  display: block;
  position: relative;
  width: 10.625rem;
  height: 10.625rem;
  padding: 0rem 2.68125rem 0rem 2.69313rem;
  justify-content: center;
  align-items: center;
  border-radius: 5.3125rem;
  background: #c9f31d;
  color: #121212;
  text-align: center;
  font-family: Kanit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.18125rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease 0.1s;
}

a.btn:hover {
  color: #ffffff;
}

a.btn .btn-text {
  position: relative;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: color 0.3s ease 0.1s;
}

a.btn span {
  width: 20px;
  height: 20px;
  background: #000000;
  display: none;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
a.btn span.btnAni {
  animation: btnAni 0.5s linear 1;
  transform: scale(30, 30);
}
a.btn span.btnAniOut {
  animation: btnAniOut 0.5s linear 1;
  transform: scale(30, 30);
}
@keyframes btnAni {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(30, 30);
  }
}
@keyframes btnAniOut {
  0% {
    transform: scale(30, 30);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* swiper 스타일 */
/* 공통 bullet 스타일 */
.swiper-pagination-bullet {
  opacity: 1;
  margin: 0 6px;
  transition: all 0.3s ease;
}

/* ========== 큰 화면 (찍찍이 스타일) ========== */
@media (min-width: 1200px) {
  .swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    border-radius: 10px;
    background-color: #666777;
    margin: 0 8px !important;
  }

  .swiper-pagination-bullet-active {
    width: 100px;
  }

  .swiper-pagination {
    position: fixed !important;
    bottom: 50px !important;
    left: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    z-index: 50;
  }
}

/* ========== 작은 화면 (dot 스타일) ========== */
@media (max-width: 1199px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: #d1d5db;
    margin: 0 4px !important;
  }

  .swiper-pagination-bullet-active {
    width: 10px;
    background-color: #c9f31d;
  }

  .swiper-pagination {
    position: fixed !important;
    bottom: 40px !important;
    display: flex !important;
    justify-content: center;
    margin-top: 20px;
  }
}

/* ========== 작은 화면 (dot 스타일) ========== */
@media (max-width: 800px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: #d1d5db;
    margin: 0 4px !important;
  }

  .swiper-pagination-bullet-active {
    width: 10px;
    background-color: #c9f31d;
  }

  .swiper-pagination {
    position: fixed !important;
    bottom: 15% !important;
    display: flex !important;
    justify-content: center;
    margin-top: 20px;
  }
}
