/* 
  light.css
  "그렇다면 누구에게 맡길 것인가?" 텍스트 애니메이션 스타일
*/

h2.who {
  line-height: 0.8;
}

span.who {
  display: block;
}

span.who:not(.light) {
  opacity: 0;
  animation: flashText 1s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash 1s ease-out alternate infinite;
  }
}

@keyframes flash {
  to {
    opacity: 0.5;
  }
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}
