@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-kanit {
    font-family: "Kanit", sans-serif;
  }

  .nav-link {
    @apply text-[#121212] text-base font-semibold uppercase leading-4 font-kanit;
  }

  .service-item {
    @apply border-b border-black/80 pb-5 mb-5 text-2xl font-medium tracking-wide;
  }

  .service-item-top {
    @apply border-t border-black/80 border-b border-black/80 mt-6 pb-5 pt-5 mb-5 text-2xl font-medium tracking-wide;
  }
}
/* hero-area 부분 */

/* hero area style (Tailwind 프로젝트용 globals.css) */
.hero-area {
  background-color: var(--black);
  padding-top: 100px;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 1535px) {
  .hero-area {
    margin-top: 80px;
  }
}

@media (max-width: 1023px) {
  .hero-area {
    height: auto;
  }
}

.hero-area-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-area-bg .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.hero-area-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-area-inner {
  position: relative;
}

.hero-area .text {
  font-size: 20px;
  line-height: 1.38;
  color: var(--white);
  font-family: var(--font_beatricetrial);
  max-width: 400px;
}

@media (max-width: 1279px) {
  .hero-area .text {
    font-size: 18px;
  }
}

.hero-area .section-title {
  font-size: 250px;
  line-height: 0.9;
  color: var(--white);
  text-transform: uppercase;
}

@media (max-width: 1535px) {
  .hero-area .section-title {
    font-size: 180px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title {
    font-size: 160px;
  }
}

@media (max-width: 1023px) {
  .hero-area .section-title {
    font-size: 130px;
  }
}

@media (max-width: 639px) {
  .hero-area .section-title {
    font-size: 80px;
  }
}

@media (max-width: 479px) {
  .hero-area .section-title {
    font-size: 55px;
  }
}

.hero-area .section-title .o-switch {
  height: 183px;
  margin-top: -40px;
}

@media (max-width: 1535px) {
  .hero-area .section-title .o-switch {
    height: 133px;
    margin-top: -30px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title .o-switch {
    height: 113px;
    margin-top: -20px;
  }
}

@media (max-width: 1023px) {
  .hero-area .section-title .o-switch {
    height: 93px;
  }
}

@media (max-width: 639px) {
  .hero-area .section-title .o-switch {
    height: 60px;
    margin-top: -13px;
  }
}

@media (max-width: 479px) {
  .hero-area .section-title .o-switch {
    height: 40px;
    margin-top: -9px;
  }
}

.hero-area .title-wrapper {
  position: relative;
}

.hero-area .title-wrapper .shape-1 {
  position: absolute;
  top: 0;
  left: 0px;
}

@media (max-width: 1023px) {
  .hero-area .title-wrapper .shape-1 {
    display: none;
  }
}

.hero-area .address {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-top: 16px;
}

.hero-area .section-title-wrapper {
  margin-top: 154px;
}

@media (max-width: 1535px) {
  .hero-area .section-title-wrapper {
    margin-top: 134px;
  }
}

@media (max-width: 1279px) {
  .hero-area .section-title-wrapper {
    margin-top: 104px;
  }
}

.hero-area .section-content .text-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .hero-area .section-content .text-wrapper {
    position: static;
    margin-top: 20px;
  }
}

.hero-area .wc-btn-underline {
  color: var(--white);
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 0;
}

@media (max-width: 479px) {
  .hero-area .wc-btn-underline {
    width: 230px;
  }
}

.hero-area .wc-btn-underline:hover i {
  transform: none;
}

.hero-area .wc-btn-underline .logo {
  transform: none;
}

.hero-area .wc-btn-underline i {
  font-size: 15px;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.hero-area .wc-btn-underline::before {
  height: 1px;
  top: 0;
  bottom: auto;
}
.word {
  display: inline-block;
}
/* 메뉴바 텍스트 공통 스타일 */
.nav-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 텍스트 공통 스타일 */
.nav-bar-text {
  color: #121212;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45rem; /* 100% */
  text-transform: uppercase;
}

/* 텍스트 슬라이드 아이콘(디자인 요소) 공통 스타일 */
.nav-bar-icon {
  vertical-align: middle;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.section-title-line {
  display: block;
  text-align: start;
  position: relative;
  transform-origin: 440px 58.8438px;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  color: #121212;
  font-family: "BeatriceTRIAL-Regular";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.8rem;
}
.section-title-work {
  display: block;
  position: relative;
  opacity: 1;
  color: #121212;
  font-family: "beatricetrial";
  text-align: center;
  font-size: 30rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  opacity: 1;
}
.section-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary);
  display: block;
  margin-top: -3px;
}

.section-title {
  font-size: 70px;
  margin-top: -19px;

  @media (max-width: 1535px) {
    font-size: 55px;
    margin-top: -14px;
  }

  @media (max-width: 1279px) {
    font-size: 55px;
    margin-top: -14px;
  }

  @media (max-width: 1023px) {
    font-size: 46px;
    margin-top: -13px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    margin-top: -10px;
  }

  @media (max-width: 639px) {
    font-size: 35px;
    margin-top: -9px;
  }

  @media (max-width: 479px) {
    font-size: 30px;
    margin-top: -8px;
  }
}

.section-spacing {
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top {
  padding-top: 150px;

  @media (max-width: 1535px) {
    padding-top: 120px;
  }

  @media (max-width: 1279px) {
    padding-top: 100px;
  }

  @media (max-width: 1023px) {
    padding-top: 80px;
  }

  @media (max-width: 639px) {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 150px;

  @media (max-width: 1535px) {
    padding-bottom: 120px;
  }

  @media (max-width: 1279px) {
    padding-bottom: 100px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 80px;
  }

  @media (max-width: 639px) {
    padding-bottom: 60px;
  }
}

/* about area style  */
.about-area {
  &-inner {
    padding-bottom: 100px;

    @media (max-width: 1535px) {
      padding-bottom: 80px;
    }

    @media (max-width: 1023px) {
      padding-bottom: 60px;
    }
  }

  .section-content {
    display: grid;
    gap: 35px 60px;
    grid-template-columns: auto 880px;

    @media (max-width: 1023px) {
      grid-template-columns: auto;
    }

    .info-area {
      margin-top: 80px;
      display: grid;
      grid-template-columns: 44% 56%;

      @media (max-width: 479px) {
        grid-template-columns: 100%;
      }
    }

    .info-last {
      border-inline-start: 1px solid var(--border);
      padding-inline-start: 83px;

      @media (max-width: 767px) {
        padding-inline-start: 33px;
      }

      @media (max-width: 479px) {
        padding-inline-start: 0;
        border-inline-start: 0;
        margin-top: 30px;
      }
    }

    .btn-wrapper {
      margin-top: 53px;

      @media (max-width: 767px) {
        margin-top: 33px;
      }
    }

    .wc-btn-circle {
      background-color: var(--theme);
      border: none;
      color: var(--black);
    }
  }

  .info-text {
    .text {
      font-size: 20px;
      line-height: 1.37;
      max-width: 303px;
      margin-top: 5px;

      @media (max-width: 767px) {
        max-width: 260px;
      }
    }

    .number {
      font-size: 250px;
      line-height: 0.84;
      display: flex;

      @media (max-width: 1023px) {
        font-size: 200px;
      }

      @media (max-width: 767px) {
        font-size: 120px;
      }

      span {
        font-size: 40px;
      }
    }
  }
}
.custom-hover-button {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #121212;
  background-color: #fff;
  border: 2px solid #121212;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  will-change: transform;
}

.custom-hover-button:hover {
  transform: scale(1.05);
  background-color: #121212;
  color: #fff;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}

.works-wrapper-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 880px;
  justify-content: flex-end;

  @media (max-width: 1024px) {
    /* $lg */
    grid-template-columns: auto;
    justify-content: flex-start;
  }
}

.works-wrapper {
  display: grid;
  gap: 68px;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work-box {
  cursor: pointer;
  transition: transform 0.8s;

  &:hover {
    /* transform: translateY(-4px); */

    .thumb img {
      transform: scale(1.15);
      transition: transform 0.5s ease 0.2s;
    }
  }

  .thumb {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      transition: transform 0.5s ease;
      display: block;
    }
  }

  .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #121212;
  }

  .tag {
    margin-top: 6px;
    margin-bottom: 4rem;

    font-size: 14px;
    color: #666;
    display: inline-block;
  }
}

.testimonial-box-wrapper {
  position: relative;
  direction: ltr;
  margin-top: 85px;
  overflow: hidden;
}

.testimonial-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;

  @media (max-width: 639px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.video-box {
  position: relative;
  width: 420px;
  aspect-ratio: 100/154;
  overflow: hidden;

  @media (max-width: 1023px) {
    width: 330px;
  }

  @media (max-width: 639px) {
    width: 100%;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-box-wrapper {
  padding-inline-start: 90px;

  @media (max-width: 1279px) {
    padding-inline-start: 40px;
  }

  @media (max-width: 639px) {
    padding-inline-start: 0;
  }
}

.wc-btn-play {
  width: 160px;
  height: 160px;

  @media (max-width: 767px) {
    height: 100px;
    width: 100px;
  }
}

.meta-info {
  width: 405px;
  border-right: 1px solid #2e2e2e;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  z-index: 2;

  @media (max-width: 1279px) {
    width: 315px;
    padding-inline-end: 40px;
  }

  @media (max-width: 1023px) {
    width: 235px;
  }

  @media (max-width: 639px) {
    position: static;
    width: 100%;
    border-bottom: 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.08);
    inset-inline-end: -1px;
    top: -150px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .testimonial-count {
    font-size: 140px;
    font-family: "BeatriceTRIAL-Regular-BF64829e8f591fb";
    line-height: 0.87;
    font-weight: 600;
    margin-bottom: 35px;
    color: white;

    @media (max-width: 1279px) {
      font-size: 100px;
    }

    @media (max-width: 639px) {
      font-size: 70px;
    }
  }

  .text {
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 43px;
    color: var(--white-2);
  }
}

.client-meta {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 227px;

  @media (max-width: 1023px) {
    padding-bottom: 67px;
  }

  .name {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--white);
  }

  .text {
    font-size: 14px;
    line-height: 1.42;
    color: var(--white-2);
    position: relative;
    z-index: 1;
  }
}

.b-ts-pagination {
  position: absolute;
  inset-inline-start: 0;
  bottom: 0;
  color: var(--white);

  .dash {
    background-color: var(--white);
  }
}

/* nKKU 폰트 등록 */
@font-face {
  font-family: "nKKU-Go6G5tXcr4-ORWnVaFrNlJz";
  src: url("/fonts/nKKU-Go6G5tXcr4-ORWnVaFrNlJz.woff2") format("woff2"),
    url("/fonts/nKKU-Go6G5tXcr4-ORWnVaFrNlJz.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
